body {
  background-color: #E4E6EB;
  font-family: 'Assistant', sans-serif;
}


//navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  height: 70px;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  border-radius: 0;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #018992;

      &.active {
        font-weight: bold;
        color: #018992 !important;
      }
    }
  }
}

.btn-login {
  background-color: #018992;
  color: #fff;

  &:hover {
    background-color:#63d6df;
    color: #fff;
  }
}


//Header
header{
  padding : 180px 0 165px;
  margin-top: -70px;
  background-image: url(../images/Header.jpg);
  background-size: cover;

  h1,p{
    color: rgb(37, 7, 146);
  }

  h1{
    font-family: 'Playfair Display',serif;
    font-weight: bold;
    font-size: 50px;
  }

  p{
    font-size: 22px;
    color: #000;
    font-weight: bold;
  }

  .btn-get-started {
    background-color: rgb(37, 7, 146);
    color: #fff;
    font-family: serif;
    font-weight: bold;
    border-radius: 10px;

    &:hover{
      background-color: #fff;
      color: #018992;
    }
  }
}

//Statistics
.section-stats {
  margin-top: -50px;

.stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 25px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 20px;
  font-weight: lighter;
}

}

//popular
.section-popular {
  min-height: 540px;
  background-color: #66B6C0;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading{
    margin-top: 110px;

    h2,p {
      color: #fff;
    }

    h2{
      font-family:'Playfair Display',serif;
      font-weight: bold;
      font-size: 40px;
    }

    p{
      font-size: 20px;
    }

  }
}

.section-popular-content {
  .section-popular-travel{
    .card-travel{
      min-height: 380px;
      background-color: rgb(94, 88, 88);
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
    }
      .travel-country{
        font-size: 18px;
        color: #fff;
      }

      .travel-location{
        font-size: 26px;
        color: #fff;
      }

      .travel-button{
        .btn-travel-details {
          background-color: rgb(37, 7, 146);
          color: #fff;

          &:hover{
            background-color: rgb(53, 15, 187);
            color: #fff;
          }
        }
      }
  }
}

.section-networks{
  margin-top: -180px;
  padding-top: 230px;
  padding-bottom: 70px;
  background-color: #fff;

  h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #018992;
    font-size: 40px;
  }

  p{
    font-size: 18px;
  }

  img{
    max-width: 100%;
  }
}

.section-testimonial-heading{
  background: linear-gradient(#fff 20%,#B4D4D6 100%);
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 500px;

  h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;

  }

  p{
    font-size: 18px;
  }

}

.section-testimonial-content{
  margin-top: -300px;
  margin-bottom: 10px;
  background-color: linear-gradient(#B4D4D6, #fff);

  .card-testimonial{
    padding: 40px 20px 10px;
    border-radius: 15px;
    margin-bottom: 10px;


  .testimonial-content{
    min-height: 350px;
  }

  h3{
    font-size: 20px;
    font-weight: bold;
  }

  .testimonial{
    font-weight: 200;
    font-size: 26px;
    color: #9faeaf;
  }

  .trip-to{
    font-weight: normal;
    font-size: 22px;
    color: #9faeaf;
  }

  hr{
    margin-left: -20px;
    margin-right: -20px;
  }
}

  .btn-get-started{
      background-color: rgb(37, 7, 146);
      color: #fff;
      font-family: serif;
      font-weight: bold;
      border-radius: 10px;

      &:hover{
        color: #fff;
        background-color: #018992;
      }

      a{
        font-family: 'Assistant';
      }
  }

  .btn-need-help {
    color: #018992;
    background-color: #fff;
    font-family: serif;
    font-weight: normal;
    border-radius: 10px;

    &:hover{
      background-color: #fff;
      color: #11cbd8;
    }
  }
}



footer{
  background: #fff;
}
.section-footer{
  background: #fff;

  a{
    color: #018992;
  }
}


.section-details-header {
    min-height: 250px;
    background: linear-gradient(#B4D4D6);
    margin-top: -80px;
}

.section-details-content {
  margin-top: -100px;
  min-height: 100vh;
  background: linear-gradient(#B4D4D6 40%,#fff 60%);
  .breadcrumb{
  margin-bottom: 20px;
  background-color: transparent;
  padding: 0;
  }

  .breadcrumb-item{
    font-weight: lighter;
    font-weight: bold;

    &:active{
    font-weight: bold;
    color: #018992;
  }
}
}

.card-details{
  padding: 30px;
  border-radius: 11px;
  background-color: #fff;

  h1{
    font-size: 26px;
  }

  h2{
    font-size: 20px;
  }

  p{
    font-size: 18px;
    color: #9faeaf;
  }

  h3 {
    font-weight: 600;
      font-size: 14px;
      color: #018992;
  }
}

  .trip-informations{
    th{
      font-weight: 300;
      font-size: 18px;
      color: #018992;
    }

    td{
      font-weight: 300;
      font-size: 18px;
      color: #b1b1b1;
    }

    .text-blue{
      color: #018992;
      font-weight: bold;
    }

    .text-grey{
      color: #b1b1b1;
      font-weight: bold;
    }
  }

  .payments-instructions{
      font-weight: 300;
      font-size: 14px;
      color: #b1b1b1;
  }

  .bank{
    .bankitem{
      h3{
        font-size: 16px;
        color: #018992;
        margin: 0;


      }

      p{
        margin-bottom: 0;
        margin-top: 0;
      }

      .descriptions{
        margin-left: 10px;
        overflow: hidden;
        float: left;
      }

      p{
        font-weight: normal;
        font-size: 14px;
        color: #66B6C0;
      }
    }

    .bank-image{
      width: 50px;
      height: 50px;
      float: left;
    }
  }

  .disclaimer{
    font-weight: 300;
      font-size: 14px;
      color: #b1b1b1;
  }

  .gj-datepicker{
    .datepciker{
      border-right: 0;
    }

    .input-group-append{
      .btn{
        padding-right: 30px;
      }
    }
  }

  .btn-add-now {
    background-color: #018992;
    color: #fff;

    &:hover{
      background-color: #66B6C0;
      color: #fff;
    }
  }

  .card-right{
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
    border-bottom : 0;
  }



.features{
  margin-top: 20px;
  margin-bottom: 40px;
  h3{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
  }

  p{
    margin-bottom: 0;
    font-size: 10px;
  }

  .description{
    margin-left: 10px;
    overflow: hidden;
    float: left;

    p{
      font-size: 15px;
    }
  }

  .featured-image{
    width: 40px;
    height: 40px;
    float: left;

  }
}



.gallery{
  .xzoom-container{
    display: block;
  }

  .xzoom{
    width: 98%;
    box-shadow: none;
    margin-bottom: 10px;

  }

  .xactive{
    border: 4px solid #11cbd8;
    box-shadow: none;
  }

}

.members {
  .member-image{
    width: 40px;
    height: 40px;
  }
}


.join-container{
  margin-top: -20px;
  border-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .btn-join-now{
    background-color: #018992;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;



    &:hover{
      background-color: #0ccfdd;
    color: #fff;
    }


  }

  .btn-cancel-request{
    background-color: #9faeaf;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;



    &:hover{
      background-color: #fff;
    color: #9faeaf;
    }


  }
}


.section-success{
  height: 90vh;
  margin-top: -70px;
  min-height: 100vh;
  background: linear-gradient(#fff 40%, #E8FFFA 60%);

  h1{
    font-weight: bold;
    font-size: 26px;

    color: #4D4D6B;
  }

  p{
     font-weight: 600;
    font-size: 26px;
    color: #b1b1b1;
  }

  .btn-home-page{
    border-radius: 4px;
    background-color: #528387;
    color: #fff;

    &:hover{
      background-color: #59cfda;
    color: #fff;
    }
  }

}

/**
INI STYLE UNTUK BAGIAN
FORM LOGIN
    REGISTER
    FORGOT PASSWORD
**/


.background-form{
    img{
      height: auto;
  }

  }


  .section-form{
    margin: 0 20px 0 20px;
    display: flex;

    .form-login{
    padding-top: 60px;
    font-family: 'Assistant';
    width: 60vh;


    h1{
      font-size: 40px;
      font-weight: bold;
      background: linear-gradient(#fff 80%, #E8FFFA 20%);
     }
   }

    h3{
      font-size: 30px;
      padding-top: 44px;
      font-weight: normal;
    }

    h4{
      font-size: 15px;
      padding: 10px;
    }
  }


  // Ini form login


  .card-lgn{
    border-radius: 20px;
    width: 50vh;
    margin: 0 30px 30px 30px;
    display: flex;

    .card-form{
      background: #66B6C0;
      border-radius: 20px;
      padding: 30px;
      min-width: 40vh;
    }
  }
  .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;

  }

  .icon {
    padding: 15px;
    background: #0F3EEA;
    color: white;
    min-width: 30px;
    text-align: center;
    border-radius: 10px 0 0 10px ;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 0 10px 10px 0;

    display: flex;
    align-items: center;
  }

  .input-field:focus {
    border: 2px solid #0cbcc9;
  }

  /* Atur style untuk submit button */
  .btn-lgn {
    background-color: #0F3EEA;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 50%;
    height: 100%;
    float: right;
    border-radius: 20px;
    font-weight: normal;
  }

  .btn-register{
    background-color: #0F3EEA;
    color: white;
  }

  .btn-register:hover , .btn-lgn:hover {
    opacity: 3;
    background-color: #5778f0;
  }

  .forgot-text{
    margin-top: 20px;
    h3{
      font-size: 14px;
      color: rgb(88, 88, 88);
      padding-top: 8px;
      a{
        color: #000;
        font-weight: 200;
      }
    }

  }


  @media (max-width: 992px ) {

    .section-form{
      max-width: 100%;
      margin-left: 0;
      padding-bottom: 0;
      display: flex;
      margin:  auto;
      align-items: center;
    }
    .background-form{
      justify-items: center;
      background-color: #fff;
      position: fixed;
      max-height: 100%;
      align-items: stretch;

      img{
        max-width: 400px;
        display: none;
        background-size: cover;
      }
    }


    .form-login{
      max-width: 100%;
      justify-content: center;
      padding-top: 0;
      max-height: 100%;
      padding-bottom: 70%;
    }

    .card{
      max-width: 100%;
      display: flex;
      margin:  auto;
      align-items: center;
    }

    .card-form, .form-page{
      justify-content: center;
      text-align: end;
    }

    .input-container{
      max-width: 100%;
    }

    .forgot-text, h3,h4{
      margin: 0;
      padding: 0;
    }

    .btn-lgn{
      width: 100%;
      margin-bottom: 25px;
    }
  }
